<head> 
    <link href="/static/upload.css" type="text/css" rel="stylesheet">
 </head>
 <div class="form-style-5">
    <form action="/upload">
        <input type="submit" value="Upload a Score" />
    </form>
    <form action="/logout">
        <input type="submit" value="Logout" />
    </form>
    <form action="/scores">
        <input type="submit" value="Scoreboard" />
    </form>
    <form action="/admin">
        <input type="submit" value="Admin Console" />
    </form>
 </div>